.title__container{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:nth-of-type(1){
    // border-top: 1px solid #ccc;
  }
  a, em{
    font: 400 14px/14px 'Noto Sans KR';
    color: #000;
  }
  .link__item{
    cursor: pointer;
    text-overflow:ellipsis;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 70%;
  }
  .highlights{
    display: inline-block;
    width: auto;
    background: yellow;
  }
  >span{
    text-align: center;
    width: 15%;
    margin-right: 0;
    @media screen and (max-width: 414px) {
      width: 30%;
    }
    >div,>em{
      margin: 0 0.2rem;
    }
    >div{
    }
    >em{
    }
  }
}